/vendor/
/node_modules/

/.env

*.log
*.cache
*.bak
*.tmp
*.swp

/.idea/
/.vscode/
/nbproject/
/_ide_helper.php
/.DS_Store
/.buildpath
/.project
/.settings/

*.sql
*.jdl

/composer.lock
composer.phar

/vendor/

/config/*.local.php

/test-report.xml

/build/
/dist/

*.cookie